.description {	
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 32px;
}

.spacer {
	height:150px
}
.bootom,.bottom a {
	color:rgba(0,0,0,0.7)
}
.bottom a:hover {
	text-decoration:underline
}

		.fb-group-manual:hover {
			color:rgba(0,0,0,1);
			background-color:cadetblue
		}
		.fb-group-manual {
			border: 1px solid black;
			margin: 5px;
			padding: 5px;
			display: inline-block;
			width: 40%;
			text-align: right;
			padding: 20px;
			cursor: pointer;
			box-shadow: 3px 3px 6px 0px #0000005c;
			color: inherit;
			text-decoration: none;
		}

.overflow {
	    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000d9;
    z-index: 3;
    top: 0px;
    left: 0px;
		display: none;
}

		.ifr {
			border:none;
			width: 360px;
			height: 380px;
			background: white;
			z-index: 3;
			position: fixed;
			top: 50%;
			left: 50%;
			margin-left: -150px;
			margin-top: -150px;
		}

		.content {
			background: white;
			padding: 30px;
		}

		.over-fixed {
			position: relative;
			z-index: 2
		}

		.push-bottom {
			height: 100%
		}

		.cover {
			z-index: 1;
			background-image: url('./cover.png');
			background-size: cover;
			background-position: center center;
			width: 100%;
			height: 100%;
			position: fixed
		}

		.fb-group {
			vertical-align: top;
			padding: 5px;
		}

		body {
			color:rgba(0,0,0,0.9);
			text-align: center;
			font-family: Arial, Helvetica, sans-serif;
			margin: 0px;
			padding: 0px;
			direction: rtl;
			background-color: #ddd
		}